{:paths ["src"]
 :deps  {logger/logger       {:local/root "../log"}

         org.clojure/clojure {:mvn/version "1.10.1"}
         integrant/integrant {:mvn/version "0.8.0"}
         compojure/compojure {:mvn/version "1.6.2"}
         clj-http/clj-http   {:mvn/version "3.11.0"}}}
